.header__container {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.header__items {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__price {
    font-size: 2.5rem;
    font-weight: bold;
}

.header__time {
    font-size: 1rem;
    padding: 3px;
    text-align: left;
}

.header__date {
    font-size: 1rem;
    padding: 3px;
    text-align: left;
}

/* .header__datetime__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */